@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font: "Raleway", sans-serif;*/
}
.feature_1, .feature_2, .feature_3, .feature_4, .feature_5, .feature_6, .logo, .fb, .tw, .In, .team_fb, .team_In, .team_tw{
    background: url("../resourse/img/sprites.png") no-repeat;
    display:block;
}

.col .feature_1{
    background-position: 0 -1px ;
    width: 60px;
    height: 60px;
}

.feature_2{
    background-position: -74px 0;
    width: 73px;
    height: 60px;
}

.feature_3{
    background-position: -157px 0;
    width: 41px;
    height: 60px;
}

.feature_4{
    background-position: -207px -1px ;
    width: 56px;
    height: 60px;
}

.feature_5{
    background-position: -277px -1px ;
    width: 72px;
    height: 60px;
}

.feature_6{
    background-position: -359px 0;
    width: 79px;
    height: 60px;
}

.logo{
    background-position: -1px -100px ;
    width: 189px;
    height: 24px;
}

.fb{
    background-position: -189px -95px ;
    width: 8px;
    height: 18px;
}

.tw{
    background-position: -245px -95px ;
    width: 20px;
    height: 14px;
}

.In{
    background-position: -294px -95px ;
    width: 16px;
    height: 16px;
}

.wrapper{
    width:1168px;
    margin:0 auto;
    text-align: center;
    color: white;
}
a{
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: none;
}
body{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #6c7279;
}
.page-header{
    background:url("./../resourse/img/header-background.jpg") no-repeat;
    background-size: cover;
    height:750px;
    width: 100vw;
}
.header{
    height: 100px;
    border-bottom: 1px solid #797979;
    display: block;
    width:inherit;
}
.logo{
    float:left;
    margin:40px 0;
}
nav a{
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
nav a:hover{
    color: #e84545;
}
.banner{
    color: #fff;
    text-align: center;
    padding-top: 145px;
    display: block;
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
}
h1{
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 0px;
    line-height: 71px;
    font-weight:900;
    margin-bottom: 15px;
}
.btn{
    background-color: #e84545;
    border-radius: 2px;
    display:inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
}
.btn:hover{
    background-color: #e81a1a;
}
.banner_text {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
}
.container{
    width:1170px;
    box-sizing: border-box;
    margin:0 auto;
}
.features{
    padding:150px 0 100px 0;
}
.row div{
    text-align: center;
    float: left;
    margin-bottom: 50px;
}
h5,h6{
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin:10px 0;
}
.col{
    float: left;
    width:33.333%;
    padding: 0 15px;
    margin-top: 30px;
    position: relative;
}

.col p{
    font-size: 14px;
    line-height: 22px;
    color: #6c7279;
}
.col .icon-tools{
    position: absolute;
    top: -70px;
    left: 42%;
}
.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}
.works{
    margin:0 auto;
    height:700px;
    width:1960px;
    padding: 0;
    font-size: 0;
}
.project a{
    width: 25%;
    height: 50%;
    box-shadow: 0 0 0 1px #fff;
    margin-left: 0;
    color: white;
    float: left;
    position: relative;
}
.caption{
    font-size:14px;
    color: white;
    background-color: rgba(236, 69, 69, 0.8);
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.project a:hover .caption{
    display: block;
    z-index: 100500;
}
.caption h3{
    margin-top:32%;
}
.caption p {
    padding: 7px;
}
/*team*/
.team .col{
    display: inline-block;
    text-align: left;
    position:relative;
    float: left;
    width: 25%;
    margin: 50px 0;
}

.team h6{
    color:#e84545;
    text-transform: uppercase;
    margin-bottom:30px;
    font-size: 14px;
    font-weight: 400;
}
.team h5{
    margin: 30px 0 10px 0;
    font-size: 17px;
    font-weight: 500;
}
.team_profile p{
    margin-bottom:30px;
}

.team_contacts li{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    text-decoration: none;
    border: 1px solid #c9d0c9;
    border-radius: 2px;
    position: relative;
    margin: 3px;
}
.team_fb{
    background-position: -123px -141px;
    width: 8px;
    height: 18px;
}

.team_tw{
    background-position: -20px -140px;
    width: 20px;
    height: 14px;
}

.team_In{
    background-position: -73px -141px;
    width: 16px;
    height: 16px;
}
.team_contacts ul>li:hover {
    background-color: #3a3e64;
}
/*end team*/
footer{
    float: left;
    background-color:#3a3e64;
    width: 100vw;
    height: 340px;
}
.footer-top{
    padding-top: 50px;
    width: 1170px;
    margin: 0 auto;
    text-align: justify;
    vertical-align: top;
}
.footer-bottom {
    background-color:#313454;
}
h6{
    color:#ffffff;
}
.footer-top div{
    text-align:center;
    margin-bottom: 100px;
    vertical-align: middle;
}
.footer-top:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.footer-col1{
    width: 150px;
    height: 75px;
    display: inline-block;
}
.footer-col3{
    width: 290px;
    height: 100px;
    display: inline-block;
}
.footer-col2{
    display: inline-block;
    width: 300px;
    margin-left: 100px;
    text-align: justify;
}
.footer-col2 a{
    border: 2px solid #ffffff;
    padding:15px;
    float: left;
    margin:5px;
}
.footer-col2 a:first-of-type{
    margin-left: 85px;
}
.footer-col2 a:hover{
    background-color: #e84545;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
}

.footer-bottom span{
    color: #EE2412;
    font-size: 20px;
    font-family: 'Comic Sans MS';
}